<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.nz/thymeleaf/layout"
	  layout:decorate="~{/tpl2/layout/basic_layout}"> 
	  <!-- layout:decorator="/tpl2/layout/basic_layout" -->

	<!-- HEAD -->
	<!-- //HEAD -->
	
	<body>
	
		<!-- NAVBAR -->
		<!-- //NAVBAR -->
		
		<!-- HEADER -->
		<!-- //HEADER -->
		
		<th:block layout:fragment="content">
		<div class="container mt-5 mb-5">
			<h2>Main Page</h2>
		</div>
		</th:block>
		
		<!-- FOOTER -->
		<!-- //FOOTER -->
	
	</body>
</html>