<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<th:block th:fragment="navbarFragment">
	
		<nav class="navbar navbar-dark bg-dark navbar-expand-md">
			<a class="navbar-brand" href="#">Starbox.com</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMyTopmenu">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarMyTopmenu">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item active"><a class="nav-link" href="/main">Main</a></li>
					<li class="nav-item"><a class="nav-link" href="/sub">Sub</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Member CRUD</a></li>
				</ul>
			</div>
		</nav>
		
	</th:block>

</html>